<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306971047268-r9gj73g141imf9ohjf0fhogh94vrie2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306971047268-r9gj73g141imf9ohjf0fhogh94vrie2g</string>
	<key>API_KEY</key>
	<string>AIzaSyCbt67dr0OWa3kl32epP1wIB3AhCxOetJc</string>
	<key>GCM_SENDER_ID</key>
	<string>306971047268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTaskManager</string>
	<key>PROJECT_ID</key>
	<string>basictaskmanager-4f5b2</string>
	<key>STORAGE_BUCKET</key>
	<string>basictaskmanager-4f5b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306971047268:ios:157d49946185375ff5f671</string>
	<key>DATABASE_URL</key>
	<string>https://basictaskmanager-4f5b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>